<div class="room bgimage">
  <div class="container">
    <div class="title">
      <h1>Комната</h1>
    </div>
    <div class="interface">
      <p class="status">
        <strong>Статус подключения:</strong>
        <span>
          {{
          (isConnected$ | async)
          ? 'подключено успешно'
          : 'не подключено'
          }}
        </span>
      </p>
      <p class="status">
        <strong>Код комнаты:</strong>
        <span>{{ roomCode$ | async }}</span>
      </p>
    </div>

    <div class="buttons">
      <app-my-button *ngIf="!(isConnected$ | async) && !(isOwner$ | async)" title="Создать"
        [callback]="create.bind(this)" />
      <app-my-button *ngIf="!(isConnected$ | async) && !(isOwner$ | async)" title="Присоединиться"
        [callback]="showJoinerPopup.bind(this)" />
      <app-my-button *ngIf="(isOwner$ | async) && (isConnected$ | async)" title="Удалить комнату"
        [callback]="removeRoom.bind(this)" />
      <app-my-button *ngIf="!(isOwner$ | async) && (isConnected$ | async)" title="Выйти"
        [callback]="leaveRoom.bind(this)" />
    </div>

    <div *ngIf="(((showOwnerPopupState$ | async) && !(isConnected$ | async)) || (!(isConnected$ | async) && (isOwner$ | async)))" class="popup">
      <div *ngIf="isReady$ | async; else notReady" class="form">
        <qrcode [qrdata]="(inviteQrCodeUrl$ | async) || '' " [width]="256" errorCorrectionLevel="Q" elementType="url">
        </qrcode>
        <div class="roomCode">{{ roomCode$ | async }}</div>
        <!-- <p>{{ messageLabel$ | async }}</p> -->
        <p>Ожидание подключения...</p>
        <app-my-button title="Выйти" [callback]="removeRoom.bind(this)" />
      </div>
    </div>

    <div *ngIf="(showJoinerPopupState$ | async) && !(isConnected$ | async)" class="popup">
      <div *ngIf="isReady$ | async; else notReady" class="form">
        <!-- <p>{{ messageLabel$ | async }}</p> -->
        <h2>Введите код комнаты</h2>
        <app-my-input type="number" placeholder="Код комнаты" [inputCallback]="setRoomCode.bind(this)"
          [enterCallback]="joinRoom.bind(this)" [maxLength]="5" />
        <app-my-button title="Присоединиться" [callback]="joinRoom.bind(this)" />
        <app-my-button title="Закрыть" [callback]="closeJoinerPopup.bind(this)" />
      </div>
    </div>

    <ng-template #notReady>
      <app-loader></app-loader>
    </ng-template>

    <div class="subjectContainer">
      <router-outlet></router-outlet>
    </div>
  </div>