@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    font-family: 'Concert One', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: $text-clr;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
}

body {
    height: 100vh;
}

p,
span,
input,
button {
    font-size: $fs;
}

button {
    cursor: pointer;
}

.bgimage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
