<div class="selector">
    <div class="listContainer">
        <app-my-button *ngIf="backButtonShow" title="Назад" [callback]="back.bind(this)" />
        <div class="title">
            <h2>{{ title }}</h2>
        </div>
        <ul>
            <app-map *ngFor="let selector of mapList; let index = index" [title]="selector.title"
                [linkUrl]="'' + index" [imageSrc]="srcMedia + selector.imageName" [disabled]="selector.disabled"
                [isOpenMap]="isOpenMap" [callback]="openMap.bind(this)" />
        </ul>
    </div>
</div>