<div class="listContainer">
    <a class="backLink" routerLink="/room/subject">Назад</a>
    <div class="title">
        <h2>Выберите карту</h2>
    </div>
    <ul>
        <li *ngFor="let map of mapList" [ngClass]="{ 'disabled': map.disabled }">
            <a [routerLink]="map.src">
                <img [src]="map.imageUrl" [alt]="map.title">
                <div *ngIf="map.disabled" class="wall"></div>
                <p *ngIf="map.disabled">Находится в разработке</p>
                <h2 class="title">{{ map.title }}</h2>
            </a>
        </li>
    </ul>
</div>