@import '../../variables.scss';

.display {
    width: 100%;
    height: 100vh;
    
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 60px;
    }

    .info {
        display: flex;
        flex-direction: column;
        grid-gap: $padding-s;
        position: absolute;
        left: $padding-l;
        top: $padding-l;
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        .ball {
            width: 50px;
            height: 50px;
            background-color: $text_color;
            border-radius: 50%;
        }   
    }
}