@import '../../../variables.scss';

.room {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ff7f5030;
  background-image: url("../../media/home/bg.png");
  background-size: cover;
  overflow: hidden;

  button,
  input {
    width: 100%;
    height: $button-h;
    background-color: transparent;
    border: 2px solid $m-c-y;
    border-radius: $bor-r-c;
    outline: none;
    text-align: center;
    user-select: none;
    transition: all $tr ease;
    padding: 0 $p;

    &:is(button) {
      background-color: $m-c-y;
      border: none;
      cursor: pointer;
    }

    &:is(button):hover {
      background-color: $m-c-v;
      color: $m-c-w;
    }

    &:is(button):active {
      transform: scale(0.98);
    }

    &:is(input),
    &:is(input)::placeholder {
      text-align: center;
      line-height: $button-h;
      font-weight: bold;
      padding: $p;
    }

    &:is(input):hover {
      border-color: $m-c-v;
    } 

    &:is(input):focus {
      color: $text-clr;
      border-color: $m-c-v-2;
    }

    &:is(input)::-webkit-outer-spin-button,
    &:is(input)::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .container {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    width: 100%;
    height: 100%;
    max-width: $c-w;
    background-color: $m-c-w;
    margin: 0 auto;

    .title {
      width: 100%;
      line-height: calc($fs * 4);
      text-align: center;
      border-bottom: 2px solid $text-clr;
    }

    .interface {
      display: flex;
      flex-direction: column;
      grid-gap: $p;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: calc($p * 2);

      p {
        display: flex;
        justify-content: space-between;
        grid-gap: $p;

        span {
          font-weight: bold;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      grid-gap: $p;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: calc($p * 2);

      button {
        width: 50%;
      }
    }
  }

  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-width: $c-w;
    background-color: #fff;
    padding: 0 $p;
    z-index: 2;

    .roomCode {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
    }

    .form {
      display: flex;
      flex-direction: column;
      grid-gap: calc($p * 2);
      width: 100%;
      max-width: 300px;
      height: fit-content;
    }

    p,
    h2,
    strong {
      text-align: center;
    }

    qrcode {
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $button-h;
        height: $button-h;
        background-color: #fff;
        background-image: url('../../../logo.png');
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: center;
        border-radius: 50%;
      }
    }
  }

  .selectorContainer {
    height: 100%;
    overflow: hidden;
  }
}