<div class="room bgimage">
  <div class="container">
    <div class="interface">
      <!-- <p class="status"><strong>ws status:</strong><span>{{ connectWsStatus }}</span></p> -->
      <!-- <p class="status"><strong>webrtc status:</strong><span{{ connectWebRtcStatus }}></span></p> -->
      <p class="status"><strong>Статус подключения:</strong><span>{{ connectWebRtcStatus ? 'подключено успешно': 'не подключено' }}</span></p>
      <!-- <p class="status"><strong>room code:</strong><span>{{ roomCode || '-' }}</span></p> -->
      <p class="status"><strong>Код комнаты:</strong><span>{{ roomCode || '-' }}</span></p>
      <!-- <p class="status"><strong>messages:</strong><span>{{ messageLabel || '-' }}</span></p> -->
      <p class="status"><strong>Сообщения:</strong><span>{{ messageLabel || '-' }}</span></p>
    </div>

    <div class="buttons">
      <!-- <button *ngIf="!connectWsStatus" (click)="showPopup(true)">create</button> -->
      <button *ngIf="!connectWsStatus" (click)="showPopup(true)">Создать</button>
      <!-- <button *ngIf="connectWsStatus && isOwner" (click)="chooseLevel()">choose level</button> -->
      <button *ngIf="connectWsStatus && isOwner" (click)="chooseLevel()">Выбрать уровень</button>
      <!-- <button *ngIf="!connectWsStatus" (click)="showPopup(false)">join</button> -->
      <button *ngIf="!connectWsStatus" (click)="showPopup(false)">Присоединиться</button>
      <!-- <button class="leaveBtn" *ngIf="isOwner" (click)="removeRoom()">remove room</button> -->
      <button class="leaveBtn" *ngIf="isOwner" (click)="removeRoom()">Удалить комнату</button>
      <!-- <button class="leaveBtn" *ngIf="connectWsStatus && !isOwner" (click)="leaveRoom()">leave</button> -->
      <button class="leaveBtn" *ngIf="connectWsStatus && !isOwner" (click)="leaveRoom()">Выйти</button>
    </div>

  <div *ngIf="showPopupState" class="popup">
    <div class="form">
      <div *ngIf="isOwner; then createForm else joinForm"></div>
      <ng-template #createForm>
        <qrcode [qrdata]="inviteQrCode" [width]="256" errorCorrectionLevel="Q" elementType="url"></qrcode>
        <div class="roomCode">{{ roomCode }}</div>
        <p>{{ messageLabel }}</p>
        <p>Wait a connection...</p>
      </ng-template>
      <ng-template #joinForm>
        <strong *ngIf="startConnectingState">Wait a connection...</strong>
        <p>{{ messageLabel }}</p>
        <!-- <input #roomCodeInput (keydown.enter)="joinRoom(roomCodeInput.value)" type="text"
          placeholder="Room code" (input)="roomCodeInput.value.length > 5 && (roomCodeInput.value = roomCodeInput.value.slice(0, 5))" type="number"> -->
        <input #roomCodeInput (keydown.enter)="joinRoom(roomCodeInput.value)" type="text"
          placeholder="Код комнаты" (input)="roomCodeInput.value.length > 5 && (roomCodeInput.value = roomCodeInput.value.slice(0, 5))" type="number">
        <!-- <button (click)="joinRoom(roomCodeInput.value)">join</button> -->
        <button (click)="joinRoom(roomCodeInput.value)">Присоединиться</button>
      </ng-template>
      <!-- <button (click)="closePopup()">close</button> -->
      <button (click)="closePopup()">Закрыть</button>
    </div>
  </div>
</div>