@import '../../../variables.scss';

.room {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ff7f5030;
  background-image: url("../../media/home/bg.png");
  background-size: cover;
  overflow: hidden;

  button,
  input {
    width: 100%;
    height: $button-h;
    background-color: transparent;
    border: 2px solid #303030;
    outline: none;
    text-align: center;
    user-select: none;
    transition: all $tr ease;
    padding: 0 $p;

    &:is(button) {
      cursor: pointer;
    }

    &:is(button):active {
      transform: scale(0.98);
    }

    &:is(input),
    &:is(input)::placeholder {
      text-align: center;
      line-height: $button-h;
      font-weight: bold;
      padding: $p;
    }

    &:is(input):focus {
      color: $text-clr;
      border-color: $m-c-v;
    }

    &:is(input)::-webkit-outer-spin-button,
    &:is(input)::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover {
      border-color: $m-c-y-2;
      color: $m-c-y-2;
    }
  }

  .container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    width: 100%;
    height: 100%;
    max-width: $c-w;
    background-color: $m-c-w;
    margin: 0 auto;

    .interface {
      display: flex;
      flex-direction: column;
      grid-gap: $p;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: calc($p * 2);

      p {
        display: flex;
        justify-content: space-between;
        grid-gap: $p;

        span {
          font-weight: bold;
        }
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $p;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: calc($p * 2);
    }
  }

  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-width: $c-w;
    background-color: #fff;
    padding: 0 $p;
    z-index: 2;

    .roomCode {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
    }

    .form {
      display: flex;
      flex-direction: column;
      grid-gap: calc($p * 2);
      width: 100%;
      max-width: 300px;
      height: fit-content;
    }

    p,
    strong {
      text-align: center;
    }

    qrcode {
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $button-h;
        height: $button-h;
        background-color: #fff;
        background-image: url('../../../logo.png');
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: center;
        border-radius: 50%;
      }
    }
  }

  .messageListContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $p $p calc($button-h + $p) $p;

    .messageList {
      display: flex;
      flex-direction: column;
      grid-gap: $p;
      width: 100%;
      height: fit-content;

      .message {
        display: flex;
        grid-gap: $p;
        width: 100%;
        height: fit-content;
      }
    }
  }

  .messageForm {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: fit-content;
    max-width: $c-w;
    border-top: 2px solid $text-clr;
    z-index: 1;

    input {
      height: $button-h;
      text-align: left;
      border: none;

      &:disabled {
        background-color: #ebebeb;
        color: #303030aa;
        cursor: default;
      }
    }

    button {
      width: 100px;
      height: $button-h;
      border-top: none;
      border-bottom: none;
      border-right: none;

      &:disabled {
        background-color: #ebebeb;
        color: #303030aa;
        cursor: default;
      }
    }
  }

  .subjects {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}