@import '../../../variables.scss';

.room {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ff7f5030;
  overflow: hidden;

  button {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 2px solid #303030;
  }

  input {
    width: 100%;
    height: fit-content;
    padding: $p-s;
    text-align: center;
    border: 2px solid $text-clr;
    outline: none;
  }

  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    max-width: $c-w;
    background-color: #fff;
    margin: 0 auto;

    .interface {
      display: flex;
      flex-direction: column;
      grid-gap: $p-s;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: $p-l;

      p {
        display: flex;
        justify-content: space-between;
        grid-gap: $p-s;
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $p-l;
      width: 100%;
      height: fit-content;
      border-bottom: 2px solid $text-clr;
      padding: $p-l;

      button:first-child {
        grid-column: 1/3;
      }
    }
  }

  .popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    max-width: $c-w;
    background-color: #fff;
    z-index: 2;

    .roomCode {
      text-align: center;
      font-size: 3em;
      font-weight: bold;
    }

    .form {
      display: flex;
      flex-direction: column;
      grid-gap: $p-l;
      width: fit-content;
      height: fit-content;
    }
  }
  
  .messageListContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $p-l $p-l calc(60px + $p-l) $p-l;

    .messageList {
      display: flex;
      flex-direction: column;
      grid-gap: $p-s;
      width: 100%;
      height: fit-content;

      .message {
        display: flex;
        grid-gap: $p-s;
        width: 100%;
        height: fit-content;
      }
    }
  }

  .messageForm {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: fit-content;
    max-width: $c-w;
    border-top: 2px solid $text-clr;
    z-index: 1;

    input {
      height: 60px;
      text-align: left;
      border: none;
    }

    button {
      width: 100px;
      height: 60px;
      border-top: none;
      border-bottom: none;
      border-right: none;

      &:disabled {
        background-color: #ebebeb;
        color: #303030aa;
        cursor: default;
      }
    }
  }
}