@import '../../../../variables.scss';

.chooseLevel {
    width: 100%;
    height: fit-content;
    padding: calc($p * 2);

    ul {
        display: flex;
        flex-direction: column;
        grid-gap: $p;
        width: 100%;
        height: fit-content;
        list-style: none;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 300px;
            border: 2px solid $text-clr;

            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(0.3);
                }
    
                .title {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: fit-content;
                    height: fit-content;
                    font-size: 4em;
                    color: #fff;
                }
            }
        }
    }
}