<div class="interface">
    <div class="container">
        <div class="top"></div>
        <div class="middle">
            <div class="cursorContainer">
                <div id="cursor" class="cursor bgimage" [ngStyle]="{
                'marginLeft': ((cameraPosition$ | async) || { gamma: 0 }).gamma + '%',
                'marginTop': -((cameraPosition$ | async) || { beta: 0 }).beta + '%'
            }"></div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
    <!-- <div id="mapModelLoaderContainer" class="loader">
        <div id="mapModelLoader">Загрузка текстур 0%</div>
        <div id="progressContainer">
            <div id="progress"></div>
        </div>
    </div> -->
</div>