@import '../../../../variables.scss';

.listContainer {
    display: flex;
    flex-direction: column;
    grid-gap: $p;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    padding: $p;

    .backLink {
        display: block;
        width: 100%;
        height: $button-h;
        line-height: $button-h;
        text-align: center;
        text-decoration: none;
        border: 2px solid $text-clr;
        color: $text-clr;
        font-size: $fs;
        outline: none;
        user-select: none;
        padding: 0 $p;
        transition: all $tr ease;

        &:hover {
            border-color: $m-c-v-2;
            color: $m-c-v-2;
        }
    }

    .title {
        width: 100%;
        height: $button-h;
        line-height: $button-h;
        text-align: center;
        color: $text-clr;
        padding: 0 $p;
    }

    ul {
        display: flex;
        flex-direction: column;
        grid-gap: $p;
        width: 100%;
        height: fit-content;
        list-style: none;
        overflow-y: auto;
        padding: 0 $p;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 300px;
            min-height: 300px;
            border: 2px solid $text-clr;
            overflow: hidden;

            &::after {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #808080aa;
            }

            &.disabled {
                pointer-events: none;
            }

            &.disabled::after {
                display: block;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: calc($p * 2);
                width: 100%;
                height: 100%;
                text-decoration: none;

                &:hover>img {
                    transform: scale(1.2);
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: brightness(0.3);
                    transition: transform calc(5*$tr) ease;

                }

                .wall {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #7c787e90;
                    z-index: 2;
                }

                p,
                h2 {
                    width: fit-content;
                    height: fit-content;
                    color: #fff;
                }

                p {
                    z-index: 3;
                }

                h2 {
                    font-size: 4em;
                    z-index: 1;
                }
            }
        }

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $m-c-b;
            border-radius: $bor-r-c;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $m-c-b-2;
        }
    }
}