@import '../../../../variables.scss';

.interface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: $m-c-w;

    .container {
        display: flex;
        gap: $p;
        width: 100%;
        height: fit-content;
        padding: $p;
    }
}