@import '../../../../variables.scss';

.interface {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;

    .container {
        display: grid;
        grid-template-rows: 100px 1fr 100px;
        width: 100%;
        height: 100%;

        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .cursorBoxContainer {
                position: relative;
                width: auto;
                height: 100%;
                aspect-ratio: 1/1;
                border: 4px solid $m-c-w;
                border-radius: calc($p * 2 + $bor-r);
                padding: calc($p * 4);

                .cursorBox {
                    width: 100%;
                    height: 100%;
                    border: 4px solid $m-c-w;
                    border-radius: calc($p / 2 + $bor-r);

                    .dot {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 8px;
                        height: 8px;
                        background-color: $m-c-w;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}