<div class="interface">
    <div class="container">
        <div class="top"></div>
        <div class="middle">
            <div class="cursorContainer">
                <div class="cursor bgimage" [ngStyle]="{
                'marginLeft': ((cameraPosition$ | async) || { gamma: 0 }).gamma * 0.67 + '%',
                'marginTop': ((cameraPosition$ | async) || { beta: 0 }).beta * 0.67 + '%'
            }"></div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</div>