<div class="controller">
    <div class="mapContainer">
        <div class="map">
            <div class="mapInner">
                <div class="dotCenter"></div>
                <div class="ball" [ngStyle]="{ 'marginLeft': position.gamma + '%', 'marginTop': position.beta + '%'}">
                </div>
            </div>
        </div>
    </div>
    <div class="interface">
        <button class="enableMoveButton" (pointerdown)="enableMove(true)" (pointerup)="enableMove(false)">
            <span class="moveIcon bgimage"></span>
        </button>
    </div>
</div>