<div class="controller">
    <div class="mapContainer">
        <div class="map">
            <div class="mapInner">
                <div class="dotCenter"></div>
            </div>
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="ball" [ngStyle]="{ 'marginLeft': position.gamma + '%', 'marginTop': position.beta + '%'}"
                [ngClass]="{ 'move': isMoveEnabled, 'grab': isGrabEnabled }">
            </div>
        </div>
    </div>

    <div class="interface">
        <button class="exitButton" (click)="exit()">
            <span class="icon bgimage"></span>
        </button>
        <button class="moveButton" (click)="toggleEnableMove()" [ngClass]="{'active': isMoveEnabled}">
            <span class="icon bgimage"></span>
        </button>
        <!-- <button class="grabButton" (click)="toggleEnableGrab()" [ngClass]="{'active': isGrabEnabled}">
            <span class="icon bgimage"></span>
        </button> -->
        <button class="openNotebookButton" (click)="toggleOpenNotebook()" [ngClass]="{'active': isOpenNotebook}">
            <span class="icon bgimage"></span>
        </button>
    </div>

    <div class="notebook bgimage" [ngClass]="{'active': isOpenNotebook}">
        <div class="notebookContainer">
            <h1>Блокнот</h1>
            <hr>
            <p class="question">{{ task.question }}</p>
            <hr>
            <p *ngFor="let field of task.fields">
                {{ field.title }}
                <input type="text" [placeholder]="field.placeholder">
            </p>
            <hr>
            <p>Ответ: <input #answer type="text" placeholder="12:34"></p>
            <button (click)="checkAnswer(answer.value)">Проверить</button>
            <p class="checkMessage" [ngClass]="{'success': isAnswerSuccess}">{{ checkMessage }}</p>
        </div>
    </div>
</div>