@import '../../../../variables.scss';

.controller {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient($m-c-b, $m-c-b-2);
    overflow: hidden;

    .mapContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 calc($p * 2);

        .map {
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            border: 2px solid $m-c-y;
            border-radius: 50%;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $m-c-w;
                opacity: 0.2;
                z-index: 1;
            }

            .mapInner {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 25%);
                height: calc(100% - 25%);
                border: 2px solid $m-c-y;
                border-radius: 50%;
                background-color: $m-c-b;
                z-index: 2;

                .dotCenter {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 14px;
                    height: 14px;
                    background-color: $m-c-y;
                    border-radius: 50%;
                    z-index: 2;
                }
            }

            .lines {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                z-index: 2;

                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotateZ(22.5deg);
                    width: 100%;
                    height: 2px;
                    background-color: $m-c-y;
                    z-index: 1;

                    &:nth-child(2) {
                        transform: translate(-50%, -50%) rotateZ(-22.5deg);
                    }

                    &:nth-child(3) {
                        transform: translate(-50%, -50%) rotateZ(112.5deg);
                    }

                    &:nth-child(4) {
                        transform: translate(-50%, -50%) rotateZ(-112.5deg);
                    }
                }
            }

            .ball {
                position: absolute;
                left: 50%;
                top: 50%;
                // margin-top: 40% !important;
                // margin-left: 40% !important;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $m-c-r;
                transition: background-color $tr ease-in-out;
                z-index: 3;

                &.move {
                    background-color: $m-c-y;
                }

                &.grab {
                    background-color: $m-c-g;
                }
            }
        }
    }

    .interface {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        padding: calc($p * 2) 0;
        z-index: 6;

        button {
            width: 70px;
            height: auto;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $m-c-y;
            border: none;
            -webkit-tap-highlight-color: transparent;
            transition: background-color $tr ease-in;
            padding: $p;

            .icon {
                display: block;
                width: 100%;
                height: 100%;
                user-select: none;
                transition: background-image $tr ease-in;
            }

            &.exitButton>.icon {
                background-image: url('../../../media/controller/back.svg');
            }

            &.moveButton>.icon {
                background-image: url('../../../media/controller/move.svg');
            }

            &.grabButton>.icon {
                background-image: url('../../../media/controller/grab.svg');
            }

            &.openNotebookButton>.icon {
                background-image: url('../../../media/controller/notebook.svg');
                background-size: 90%;
            }

            &.active {
                background-color: $m-c-r;

                .icon {
                    background-image: url('../../../media/controller/deny.svg');
                }
            }
        }
    }

    .notebook {
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        background-image: url('../../../media/controller/notebook.jpg');
        background-size: cover;
        z-index: 5;
        transition: transform 1s ease-in;
        padding: 20px 20px 100px 20px;

        &.active {
            transform: translateY(0);
        }

        .notebookContainer {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 14px;

            h1 {
                text-align: center;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                font-size: 18px;

                input {
                    height: 100%;
                    min-height: 32px;
                    outline: none;
                    background-color: transparent;
                    border: 2px solid #606060;
                    border-radius: 4px;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: center;
                    padding: 4px 10px;
                }

                &.question, &.checkMessage {
                    text-align: center;
                }

                &.checkMessage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ff000030;
                    border-radius: 8px;
                    padding: 20px 0;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                }

                &.checkMessage:not(:empty) {
                    opacity: 1;
                }

                &.checkMessage.success {
                    background-color: #00ff0030;
                }
            }

            hr {
                width: 100%;
                height: 2px;
                background-color: #aaaaaa;
                border: none;
            }

            button {
                background-color: #FFD002;
                padding: 10px 30px;
                border: 2px solid #606060;
                border-radius: 8px;
                font-weight: bold;
            }
        }
    }
}

@keyframes hideLogMessage {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}