@import '../../../variables.scss';

button {
    width: 100%;
    min-width: 200px;
    height: fit-content;
    background-color: $m-c-y;
    border: none;
    border-radius: $bor-r;
    color: $text-clr;
    font-size: $fs;
    padding: $p;
    transition: all $tr ease;

    &:hover {
        background-color: $m-c-v;
        color: $m-c-w;
    }
}