<div class="selector">
    <div class="listContainer">
        <a *ngIf="backButtonShow" (click)="back()" class="backLink">Назад</a>
        <div class="title">
            <h2>{{ title }}</h2>
        </div>
        <ul>
            <app-selector-item *ngFor="let selector of selectorList; let index = index" [title]="selector.title"
                [linkUrl]="'' + index" [imageSrc]="srcMedia + selector.imageName" [disabled]="selector.disabled"
                [isOpenMap]="isOpenMap" [callback]="openMap.bind(this)" />
        </ul>
    </div>
</div>