@import '../../../../../../variables.scss';

li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: $bor-r;
    overflow: hidden;

    &::after {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #808080aa;
    }

    &.disabled {
        pointer-events: none;
    }

    &.disabled::after {
        display: block;
    }

    a, button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc($p * 2);
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        background-color: $m-c-w;
        text-decoration: none;
        cursor: pointer;

        &:hover>img {
            transform: scale(1.2);
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(0.6);
            transition: transform calc(5*$tr) ease;

        }

        .wall {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #7c787e90;
            z-index: 2;
        }

        p,
        h2 {
            width: fit-content;
            height: fit-content;
            color: #fff;
        }

        p {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;
            font-size: $fs;
            padding: $p 0;
            z-index: 3;
        }

        h2 {
            font-size: 4em;
            z-index: 1;

            &.small {
                font-size: calc($fs * 2);
            }
        }
    }    
}